.home__cart {
  position: absolute;
  width: 360px;
  background-color: white;
  z-index: 1;
  right: -100%;
  top: 120%;
  border: 4px;
  cursor: default;
  display: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  transform-origin: 90% 10%;
  animation: showFromTopLeft ease 0.2s;
  padding-bottom: 12px;
}

.home__cart::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border: 12px solid white;
  transform: rotate(45deg);
  top: 0px;
  right: 20px;
}

.home__cart::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 20px;
  background-color: transparent;
  top: -20px;
  left: 0;
}

.home__cart__title {
  font-size: 16px;
  color: #666;
  margin: 12px 0 0 12px;
}

.home__cart__list {
  margin-top: 12px;
  align-items: center;
  max-height: 480px;
  overflow-y: scroll;
}

.home__cart__list::-webkit-scrollbar {
  display: none;
}

.home__cart__item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  transition: all ease 0.2s;
  box-sizing: border-box;
  padding: 12px 12px 22px 12px;
}

.home__cart__item:hover {
  transition: all ease 0.2s;
  cursor: pointer;
  background-color: #eee;
}

.home__cart__item-img {
  width: 48px;
  resize: "contain";
}

.home__cart__item-name {
  flex: 1;
  font-size: 13px;
  color: #333;
  margin: 0 13px 0 13px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.home__cart__item-price {
  color: #ee4d2d;
  font-size: 13px;
}

.home__cart__item-sale {
  color: #666;
  text-decoration: line-through;
  margin-left: 6px;
  margin-right: 6px;
}

.home__cart__show-btn {
  margin: 12px 12px 0 0;
  float: right;
  background-color: #ee4d2d;
  padding: 8px 12px;
  color: white;
  font-size: 13px;
  border-radius: 4px;
  text-decoration: none;
  transition: all ease 0.2s;
}

.home__cart__show-btn:hover {
  transition: all ease 0.2s;
  cursor: pointer;
  filter: brightness(120%);
}
